In [1]:
#Question1
def next_in_line(lst, x):
  lst.append(x)
  lst.pop(0)
  return lst

next_in_line([1,2,3,4,5], 6)

[2, 3, 4, 5, 6]

In [2]:
#Question2
def get_budget(lst):
  sum = 0
  for i in lst:
    sum = sum + i['budget']
  return sum

get_budget([{ "name": "John", "age": 21, "budget": 23000 },
  { "name": "Steve",  "age": 32, "budget": 40000 },
  { "name": "Martin",  "age": 16, "budget": 2700 }
])

65700

In [11]:
#Question3
def alphabet_soup(Str):
  lst = list(Str)
  Str = ''
  lst.sort()
  for i in lst:
    Str = Str + i
  return Str

alphabet_soup('hello')

'ehllo'

In [15]:
#Question4
def compound_interest(p, t, r, n):
  return round(p*((1 + r)**(t*n)), 2)

compound_interest(100, 1, 0.05, 1)

105.0

In [16]:
#Question5
def return_only_integer(lst):
  return [x for x in lst if type(x)==int]

return_only_integer([9, 2, "space", "car", "lion", 16])

[9, 2, 16]